/* General styles for all menus */
.cbp-spmenu { background: #E5E5E5; -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); position: fixed; }
.cbp-spmenu a {	margin: 0; color: #002247;  font-weight: bold; padding: 1em; border-bottom: 1px solid #c6cedc; text-decoration: none; display: block;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 69%, #d2deeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(69%,#ffffff), color-stop(100%,#d2deeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 69%,#d2deeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 69%,#d2deeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 69%,#d2deeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 69%,#d2deeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2deeb',GradientType=0 ); /* IE6-9 */
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-webkit-box-shadow: inset -3px 3px 3px -3px rgba(0, 0, 0, .1); box-shadow: inset -3px 3px 3px 0px rgba(0, 0, 0, .1); font-size: .95em;
}
.cbp-spmenu a:hover { background: #A9001E; color: #fff; }
.cbp-spmenu a:active {	background: #A9001E; color: #fff; }
.cbp-spmenu-vertical {	width: 240px; height: 100%;	top: 0;	z-index: 1000; }
.cbp-spmenu-left {	left: -240px; }
.cbp-spmenu-left.cbp-spmenu-open {	left: 0px; }

.cbp-spmenu-push { overflow-x: hidden; position: relative; left: 0; }
.cbp-spmenu-push #header_container { left: 0; }
.cbp-spmenu-push-toright, .cbp-spmenu-push-toright #header_container { left: 240px; }
.cbp-spmenu,
.cbp-spmenu-push, #header_container { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }
