/* some overrides of main styles */

.subtitle
{
    font-size: 1em;
    font-weight: bold;
}

.button.no:hover { background: #9B0202; color: #fff;}
.button.no:active { background: #9B0202; color: #fff; }


/* end of overrides */

.unableCodeBox
{
    width: 200px;
    float: right;
}

ul.specs
{
   margin: 0; padding: 0; 
}

span.titles
{
    font-weight: bold;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;

    text-align: right;
    
}

.ruler
{
    width: 100%;
    height: 5px;
    border-bottom: 0px solid #ccc;
}

div.captionTitle
{
    display: inline-block;
    font-weight: bold;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    padding: 14px 0px;
}

div.icon.open
{
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    display:inline-block;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    position: relative;
    margin-left: 4px;
}
.subtitle div.icon.open, .captionTitle + div.icon.open, th.question div.icon.open, th.answer div.icon.open
{
    top: 3px;
}
div.icon.open:before
{
    content: "?";
    position: absolute;
    font-weight: bold;
    top: -1px;
    left: 4px;
    font-size: 11px;
    color: #BDBABA;
}

div.commentsHeader
{
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 0px;
    
}

div.subnav
{
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 999;
    background: rgba(196, 196, 196, 0.5);
    height: 40px;
    right: 0;

}

div.subnav ul
{
    position: absolute;
    right: 10px;
    top: -6px;
    margin: 0;
}

div.subnav input, div.subnav li
{
    display:inline-block;
    
}
.container div.subnav .button {
    padding: 4px 8px;
}
table tbody th.box-three.big, table tbody td.box-three.big
{
    width: 55%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h2.errormessages
{
    color: Red;
}

div.debugWindow
{
    position: fixed;
    top: 60px;
    right: 20px;
    width: 220px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 11px;
    font-family: Consolas;
    color: #fff;
    background-color: #08c;
    z-index: 100000;
    display: none;
}

textarea#comments
{
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border: solid 1px #DDD;
}

div.select-box {
    cursor: pointer;
    text-align: right;
    height: 100%;
}

div.select-box-container
{
    position: relative;
    width: 100%;
    height: 100%;
}

div.codercbox
{
    position: absolute;
    width: 10px;
    height: 10px;
    top: -3px;
    font-size: 11px;
}

div.coder1
{
    right: 80px;
}

div.coder2
{
    right: 40px;
}

div.coder3
{
    right:10px;
}

div.comparisoncbox
{
    position: absolute;
    width: 25px;
    height: 10px;
    top: 0px;
    text-align: left;
    font-size: 11px;
}

div.ccoder
{
    left: 10px;
}


div.codp
{
    right:10px;
}

div.codercount
{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 7px;
    text-align: left;
    right: 0px;
    
}

div.select-box input {
    opacity: 0;
}

div.box-disabled {
    background-color: #808080;
    cursor:default;
}

div.onstate {
    background-color:#259bb5;
}

td[scope="row"]
{
   cursor: pointer;
}


.outcomeBoxColor-1 /* One Coder Red */
{
    background-color: #ff0000;
}

.outcomeBoxColor-2 /* Two Coder Yellow */
{
    background-color: #ffff00;
}

.outcomeBoxColor-3 /* Three Coder Light Green */
{
    background-color: #4eb861;
}

.comparisonoutcomeBoxColor-1 /* Blue */
{
    background-color: #477DFA;
}

.comparisonoutcomeBoxColor-2 /* Orange*/
{
    background-color: #FD9336;
}

.comparisonoutcomeBoxColor-3 /* Three Coder Light Green */
{
    background-color: #4eb861;
}

.outcomeBoxColor4
{
}