td.details-control {
    background: url('/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/images/details_close.png') no-repeat center center;
}

#DTable td.ccol, table.dataTable tbody th.ccol, table.dataTable tbody td.ccol
{
    /*display:inline-block;*/
    padding: 8px 10px;

}

table.dataTable tbody th[colspan="16"], table.dataTable tbody td[colspan="16"]
{
    padding: 0;
}

table.dataTable tbody tr.hide
{
   display: none;
}

table.dataTable tbody tr.show
{
  display: table-row;
}

div.scan-file
{
    top : -4px;
    right: -4px;
}

div.has-file a
{
    padding-right: 25px;
    display: block;
}

div#spinner
{
    width: 50px;
    height: 50px;
    position: relative;
   display: none;
}

div#tableContainer
{
    display: none;
}

div#functionsbox
{
    height: 110px;
}

div.filterBoxes.hide
{
    display: none;
}

#subButton
{
    margin: 0;
    margin-top: 18px;
}

#allBox, .cboxes
{
    margin: 27px 0 0 0;
}

#MainContent_SubviewPanel
{
    display: none;
}

input[type="checkbox"].hideme
{
    display: none;
}
