/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* MISC  
----------------------------------------------------------*/

/*Tatiana's Styles: Start */
.errorMessage
{
    display:block;
    color:#ff0000;
}
.regularMessage
{
    color:#ff0000;
    display:block;
}
.teamUsers
{
    border:1px solid #000;
    border-collapse:collapse;
}
.teamUsers th, .teamUsers td
{
    text-align:left;
    border:1px solid #000;
    padding:5px;
}

/* Styles for View Abstract page*/
#pnl_printBtns
{
    float:left;
    width:300px;
}
#pnl_overrideBtns
{
    float:left;
    width:200px;
}
#pnl_odpValues
{
    float:left;
    width:200px;
}
#pnl_coderValues
{
    float:left;
    width:200px;
}
#pnl_abstract
{
    clear:both;
}
#pnl_extraData
{
    clear:both;
}

/*Tatiana's Styles: End */