<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="sitesFolders" value="ODPTaxonomyWebsite,Test, Tatiana"/>
       <add key="deleteExcelFilePathBase" value="C:\WEB\ProductionWeb\ODP_Taxonomy\Projects\ODPTaxonomy\"/>
       <add key="logFilePath" value="C:\WEB\ProductionWeb\ODP_Taxonomy\Projects\ODPTaxonomy\ODPTaxonomyWebsite\log\"/>
       <add key="timeSpanMinutes" value="1"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
