<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="sitesFolders" value="ODPTaxonomy_DEMO,ODPTaxonomy_DEV,ODPTaxonomy_TEST"/>
        <add key="deleteExcelFilePathBase" value="C:\Inetpub\Demo\"/>
        <add key="logFilePath" value="C:\Inetpub\Demo\ODPTaxonomy_DEV\log\"/>
        <add key="timeSpanMinutes" value="1"/>
    </appSettings>
</configuration>