<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="sitesFolders" value="ODPTaxonomy_PROD,ODPTaxonomy_Training,ODPTaxonomy_TrainingIntance1,ODPTaxonomy_TrainingIntance2,ODPTaxonomy_TrainingIntance3,ODPTaxonomy_TrainingIntance4,ODPTaxonomy_TrainingIntance5,ODPTaxonomy_TrainingIntance6,ODPTaxonomy_TrainingIntance7,ODPTaxonomy_TrainingIntance8"/>
        <add key="deleteExcelFilePathBase" value="C:\Inetpub\wwwroot\"/>
        <add key="logFilePath" value="C:\Inetpub\wwwroot\ODPTaxonomy_PROD\log\"/>
        <add key="timeSpanMinutes" value="1"/>
    </appSettings>
</configuration>