<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ODPTaxonomyDAL_TT.Properties.Settings.ODP_Taxonomy_DEVConnectionString"
            connectionString="Data Source=1sql234;Initial Catalog=ODP_Taxonomy_DEV;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_TT.Properties.Settings.ODP_Taxonomy_DevConnectionString1"
            connectionString="Data Source=2sql235;Initial Catalog=ODP_Taxonomy_Dev;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_TT.Properties.Settings.ODP_Taxonomy_DevConnectionString2"
            connectionString="Data Source=2sql235;Initial Catalog=ODP_Taxonomy_Dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_TT.Properties.Settings.ODP_Taxonomy_DevConnectionString3"
            connectionString="Data Source=2sql235;Initial Catalog=ODP_Taxonomy_Dev;Persist Security Info=True;User ID=odpTaxonomy"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_TT.Properties.Settings.ODP_Taxonomy_DEVConnectionString4"
            connectionString="Data Source=2sql235.iq.iqsolutions.com;Initial Catalog=ODP_Taxonomy_DEV;Persist Security Info=True;User ID=odpTaxonomy"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_TT.Properties.Settings.ODP_Taxonomy_DEVConnectionString5"
            connectionString="Data Source=2sql235.iq.iqsolutions.com;Initial Catalog=ODP_Taxonomy_DEV;Persist Security Info=True;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>