body {
    h1 {
    color: #fff;
    position: absolute;
    top: 10px;
    font-size: 1.8em;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 1;
    font-family: 'open_sansbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

    line-height: 30px;
    margin: 0;
    }

        fieldset {
        margin: 8px;
        border: 2px solid #000;
        padding: 8px;    
        border-radius: 4px;
    }
    legend{
        padding: 5px;  
        color: #000;
        font-size: 18px;  
    }


    rowsp {
        background-color: #fff;
    }

    bs-dropdown {

        ul {
            height: 300px;
            overflow-y: scroll;
        }

        .btn-main {
            width: 140px;
        }
    }
}
