body h1 {
  color: #fff;
  position: absolute;
  top: 10px;
  font-size: 1.8em;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 1;
  font-family: 'open_sansbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
  margin: 0; }

body rowsp {
  background-color: #fff; }

body bs-dropdown ul {
  height: 300px;
  overflow-y: scroll; }

body bs-dropdown .btn-main {
  width: 140px; }

