<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ODPTaxonomyTrainingAdminDAL.Properties.Settings.ODP_Taxonomy_Training_MainConnectionString"
            connectionString="Data Source=2sql235;Initial Catalog=ODP_Taxonomy_Training_Main;Persist Security Info=True;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>