<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ODPTaxonomyTrainingHelper.Properties.Settings.ODPTrainingConnectionString"
      connectionString="Data Source=2sql235;Initial Catalog=ODP_Taxonomy_Training_Instance1;Persist Security Info=True;User ID=odpTaxonomy;Password=0dpTaxonomy!"/>
  </connectionStrings>
  <appSettings>
    <add key="instance" value="1"/>
  </appSettings>
</configuration>