<div class="row rowsp">

    <div class="col-lg-12">


        <bs-dropdown data-menu-type="button" select-val="vm.selected_status = selectedVal"
                     preselected-item="vm.selected_status" data-dropdown-data="vm.statuses" data-drop-text="'From'"></bs-dropdown>  &nbsp; Selected Value : {{vm.selected_status}}

        <div class="row">

            <div class="col-lg-3">
                <span>From : </span>
                <div class="input-group">               
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

            <div class="col-lg-3">
                <span>To : </span>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

        </div>

        <div class="row">
            <button class="btn btn-default btn-danger">Run Report</button>
        </div>

    </div>

</div>