<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ODPTaxonomy"
             connectionString="Data Source=10.7.5.234;Initial Catalog=ODP_Taxonomy_DEV;Persist Security Info=True;User ID=odpTaxonomy;Password=0dpTaxonomy!" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Forms">
            <forms loginUrl="~/Login.aspx" timeout="2880" slidingExpiration="false" cookieless="UseCookies" protection="All" requireSSL="false"
      enableCrossAppRedirects="false" defaultUrl="~/Login.aspx" domain="localhost" path="/"  />
            <!-- ttimonina9-13.iq.iqsolutions.com-->
        </authentication>

        <membership defaultProvider="odpTaxonomyProvider">
            <providers>
                <clear/>
                <add name="odpTaxonomyProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ODPTaxonomy"
                     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
                     passwordStrengthRegularExpression="(?=.{6,})(?=(.*\d){1,})(?=(.*\W){1,})" 
                     applicationName="ODPTaxonomy" />
                <!-- 8 char, 1 Upper, 1 lower, 1 number, 1 special char-->
            </providers>
        </membership>

        <profile defaultProvider="ODPTaxonomyProfileProvider">
            <providers>
                <clear/>
                <add name="ODPTaxonomyProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ODPTaxonomy" applicationName="ODPTaxonomy"/>
            </providers>
        </profile>

        <roleManager enabled="true" defaultProvider="ODPTaxonomyRoleProvider">
            <providers>
                <clear />
                <add connectionStringName="ODPTaxonomy" applicationName="ODPTaxonomy" name="ODPTaxonomyRoleProvider"
                  type="System.Web.Security.SqlRoleProvider" />
                <add applicationName="ODPTaxonomy" name="AspNetWindowsTokenRoleProvider"
                  type="System.Web.Security.WindowsTokenRoleProvider" />
            </providers>
        </roleManager>

        <authorization>
            <deny users="?"/>            
        </authorization>
        
    </system.web>
    <!-- Location Access Rules: START-->
    <location path="images">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="styles">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="scripts">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="login.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location><!--
    <location path="default.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    -->
    <!-- Location Access Rules: END-->
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
