<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ODPTaxonomyAccountDAL.Properties.Settings.ODP_Taxonomy_DEVConnectionString"
            connectionString="Data Source=1sql234;Initial Catalog=ODP_Taxonomy_DEV;Persist Security Info=True;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>