<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       
        <add name="ODPTaxonomyDAL_ST.Properties.Settings.ODP_Taxonomy_DEVConnectionString6"
            connectionString="Data Source=2sql235.iq.iqsolutions.com;Initial Catalog=ODP_Taxonomy_DEV;Persist Security Info=True;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>