<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ODPTaxonomyDAL_ST.Properties.Settings.ODP_Taxonomy_DEVConnectionString"
            connectionString="Data Source=10.7.5.234;Initial Catalog=ODP_Taxonomy_DEV;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_ST.Properties.Settings.ODP_Taxonomy_DEVConnectionString1"
            connectionString="Data Source=1sql234;Initial Catalog=ODP_Taxonomy_DEV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_ST.Properties.Settings.ODP_Taxonomy_DEVConnectionString2"
            connectionString="Data Source=1sql234;Initial Catalog=ODP_Taxonomy_DEV;User ID=odpTaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_ST.Properties.Settings.ODP_Taxonomy_DEVConnectionString3"
            connectionString="Data Source=10.7.5.234;Initial Catalog=ODP_Taxonomy_DEV;Persist Security Info=True;User ID=odptaxonomy;Password=0dpTaxonomy!"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_ST.Properties.Settings.ODP_Taxonomy_DevConnectionString4"
            connectionString="Data Source=2sql235;Initial Catalog=ODP_Taxonomy_Dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ODPTaxonomyDAL_ST.Properties.Settings.ODP_Taxonomy_DevConnectionString5"
            connectionString="Data Source=2sql235;Initial Catalog=ODP_Taxonomy_Dev;Persist Security Info=True;User ID=odpTaxonomy"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>