<?xml version="1.0"?>
<configuration>

    <location path="ManageAccounts.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="EditAccount.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

</configuration>
